/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  color: var(--text-color);
  font-family: var(--main-font, monospace);
  font-size: var(--font-size, 18px);
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* Header */

header {
  position: relative;
  z-index: 0;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  min-height: 668px;
  block-size: 100vh;
  inline-size: 100%;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 20px;
  border-inline-start: 1px solid var(--decorated-color);
  border-block-end: 1px solid var(--decorated-color);
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  top: 20px;
  right: 20px;
  border-inline-end: 1px solid var(--decorated-color);
  border-block-start: 1px solid var(--decorated-color);
  inline-size: 25px;
  block-size: 25px;
}

.decorated__item {
  content: "";
  position: absolute;
  top: 20px;
  right: 47px;
  z-index: 1;
  color: var(--accent-color);
  font-family: var(--main-font, monospace);
  font-weight: var(--font-weight);
  line-height: 25px;
  text-transform: uppercase;
}

.decorated__item::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
  inline-size: 9px;
  block-size: 9px;
  inset-inline-end: -18px;
  inset-block-end: 8px;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  color: var(--accent-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-color);
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--decorated-color);
}

.header__theme-menu-button {
  min-width: 70px;
  height: 100%;
  border: none;
  padding-inline: 13px;
  padding-block: 4px;
  color: var(--decorated-color);
  font-family: var(--main-font, monospace);
  font-weight: 400;
  line-height: 18px;
  text-transform: lowercase;
  background-color: transparent;
}

.header__theme-menu-button_active {
  border: 1px solid var(--decorated-color);
  pointer-events: none;
}

.header__title {
  position: relative;
  color: var(--heading-color);
  font-weight: 700;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 82.5%;
  inset-inline-start: -2%;
}

.shadow-title {
  text-shadow: 4px 4px 0px var(--accent-color);
}

.header__text {
  justify-self: end;
  align-self: center;
  max-width: 50%;
}

.title {
  color: var(--accent-text);
  font-family: var(--main-font, monospace);
  font-weight: 400;
  font-size: var(--font-size, 18px);
  line-height: 23.4px;
  background-color: var(--accent-color);
}

.title-decor {
  color: var(--accent-text);
  font-family: var(--main-font, monospace);
  font-weight: 700;
  font-size: var(--font-size, 18px);
  line-height: 23.4px;
  background-color: var(--accent-color);
}

/* Main */

.content__text {
  margin-block-start: 10px;
  color: var(--text-color);
  font-weight: var(--font-weight);
  line-height: 23.4px;
}

.shadow-text {
  text-shadow: 2px 2px 0px var(--accent-color);
}

a:hover {
  border-bottom: 1px solid var(--text-color);
}

a:focus {
  outline: none;
}

a:focus-visible {
  border: 1px solid var(--text-color);
}

.text-style {
  margin-block-start: 10px;
}

/* Section why */

.content__title {
  color: var(--heading-text);
  font-weight: 700;
  font-size: var(--font-size);
  line-height: 23.4px;
}

.content__section-why {
  display: grid;
  grid-template-columns: 315px 1fr;
  gap: 20px;
  inline-size: 100%;
}

.content__section-why .content-list {
  display: grid;
  row-gap: 20px;
}

.content__section-why .content__title {
  grid-column: 1/2;
}

.content__section-why .content {
  grid-column: 2/3;
}

/* Section what */

.content__section-what {
  display: grid;
  gap: 20px;
  inline-size: 100%;
}

.content__section-what .content__title {
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 20px;
}

.content__section-what .content-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* Section how */

.content__section-how {
  display: grid;
  grid-template-columns: 315px 1fr;
  gap: 20px;
  inline-size: 100%;
}

.content__section-how .content-list {
  display: grid;
  grid-template-rows: 1fr;
  gap: 20px;
}

/* Section images */

.content__section-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "title title title"
    "sunset sunset ice-cream"
    "tape books ice-cream"
    "tape street street";
  gap: 20px;
}

.content__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

figure {
  margin: 0;
  padding: 0;
}

.content__section-images .title {
  grid-area: title;
}

.sunset {
  grid-area: sunset;
}

.ice-cream {
  grid-area: ice-cream;
}

.tape {
  grid-area: tape;
}

.books {
  grid-area: books;
}
.street {
  grid-area: street;
}

/* Footer */

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 668px;
  inline-size: 100%;
  block-size: 100vh;
}

.footer__title {
  color: var(--heading-color);
  font-weight: 700;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 82.5%;
}

@media (width >= 600px) {
  header {
    margin-block-end: 60px;
    padding: 20px;
  }

  main {
    padding-inline: 20px;
  }

  main section:not(:last-of-type) {
    margin-block-end: 80px;
  }

  .content__section-images {
    margin-block-end: 60px;
  }

  footer {
    padding: 20px;
  }
}
@media (width <= 768px) {
  .header__theme-menu {
    display: flex;
    justify-content: end;
  }

  .header__theme-menu-list {
    flex-direction: column;
  }

  .header__title {
    inset-inline-start: -20px;
  }

  .content__section-why {
    grid-template-columns: 236px 1fr;
  }

  .content__section-what .content-list {
    display: flex;
    flex-direction: column;
  }

  .content__section-how {
    grid-template-columns: 236px 1fr;
  }

  .content__section-images {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (width < 600px) {
  header {
    margin-block-end: 40px;
    padding: 10px;
  }

  main {
    padding-inline: 10px;
  }

  main section:not(:last-of-type) {
    margin-block-end: 50px;
  }

  .content__section-images {
    margin-block-end: 40px;
  }

  footer {
    padding: 10px;
  }

  .decorated-zone::before {
    bottom: 10px;
    left: 10px;
  }

  .decorated-zone::after {
    top: 10px;
    right: 10px;
  }

  .decorated__item {
    top: 10px;
    right: 37px;
  }

  .header__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    inset-inline-start: 1px;
  }

  .header__text {
    max-width: 100%;
  }

  .content__section-why {
    display: flex;
    flex-direction: column;
  }

  .content__section-what .content__title {
    display: flex;
  }

  .content__section-how {
    grid-template-columns: 1fr;
  }

  .content__section-images {
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "sunset"
      "ice-cream"
      "tape"
      "books"
      "street";
    gap: 10px;
  }

  .footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}
